<div class="container">


	<div class="movie-card" *ngFor="let movie of movies">
		<div class="movie-header img-fluid"
			[ngStyle]="{'background-image': 'url(' + movie.poster_path.changingThisBreaksApplicationSecurity + ')', 'background-size': 'cover'}">
			<div class="header-icon-container">
				<a href="#">
					<i class="material-icons header-icon"></i>
				</a>
			</div>
		</div>
		<!--movie-header-->
		<div class="movie-content">
			<div class="movie-content-header">
				<a href="#">
					<h3 class="movie-title">{{movie.title}}</h3>
				</a>
				<!-- <div class="imax-logo"></div> -->
			</div>
			<div class="movie-info">
				<div class="info-section">
					<label>Data de lançamento</label>
					<span>{{movie.release_date | date:'dd-MM-yyyy'}}</span>
				</div>
				<!--date,time-->
				<div class="info-section">
					<label>Média de votação</label>
					<span>{{movie.vote_average}} <i class="zmdi zmdi-block-alt"></i>
					</span>
				</div>
				<!--row-->
				<div class="info-section">
					<label>Detalhes</label>
					<button type="button" class="btn btn-link-dark btn-sm">Ver</button>
				</div>
				<!--seat-->
			</div>
		</div>
		<!--movie-content-->
	</div>
	<!--movie-card-->
</div>
<!--container-->