<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Catálogo de Filmes</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
		</ul>
		<ul>
			<button (click)="this.accessibility.changeFont('+')" mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
				<mat-icon>zoom_in</mat-icon>
			</button>
		</ul>
		<ul>
			<button (click)="this.accessibility.changeFont('-')" mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
				<mat-icon>zoom_out</mat-icon>
			</button>
		</ul>
		<ul>
			<button (click)="this.accessibility.changeContraste()" mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
				<mat-icon>invert_colors</mat-icon>
			</button>
		</ul>
		<ul>
			<mat-form-field>
				<mat-label>Categorias</mat-label>
				<mat-select>
					<mat-option *ngFor="let genre of genres" (click)="filterGenre(genre.id)">
						{{genre.name}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</ul>
		<ul>
			<mat-form-field class="example-full-width">
				<input (keyup)="applyFilter($event)" matInput placeholder="Buscar por nome...">
			</mat-form-field>
		</ul>
	</div>
</nav>

<div class="container">
	<div class="movie-card" *ngFor="let movie of movies">
		<div class="movie-header img-fluid" style="text-align: center;">
			<img src="http://image.tmdb.org/t/p/w185/{{movie.poster_path}}">
			<div class="header-icon-container">
				<a href="#">
					<i class="material-icons header-icon"></i>
				</a>
			</div>
		</div>
		<!--movie-header-->
		<div class="movie-content">
			<div class="movie-content-header">
				<a href="#">
					<h3 class="movie-title">{{movie.title}}</h3>
				</a>
				<!-- <div class="imax-logo"></div> -->
			</div>
			<div class="movie-info">
				<div class="info-section">
					<label>Lançamento</label>
					<span>{{movie.release_date | date:'dd-MM-yyyy'}}</span>
				</div>
				<!--date,time-->
				<div class="info-section">
					<label>Votação</label>
					<span>{{movie.vote_average}} <mat-icon aria-hidden="false"></mat-icon>
					</span>
				</div>
				<!--row-->
				<div class="info-section">
					<label>Detalhes</label>
					<button type="button" class="btn btn-link-dark btn-sm">Ver</button>
				</div>
				<!--seat-->
			</div>
		</div>
		<!--movie-content-->
	</div>
	<!--movie-card-->
</div>
<!--container-->